@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Take Quiz?</h1>
 </div>

<a asp-controller="Quiz" asp-action="TakeQuiz" class="btn btn-primary"> Take Quiz </a>